<a href="https://colab.research.google.com/github/khadkaabishek/check/blob/main/Copy_of_Chapter1_Python_for_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python For Machine Learning

Python is widely used in machine learning because it offers powerful libraries and tools for data handling, model training, and evaluation. It makes building ML models easier and faster.

#### Key Python Basics to Learn

1. **Data Structures** – Lists, dictionaries, tuples, sets for organizing data.
2. **Control Flow** – `if/else`, `for`, `while` loops to add logic to code.
3. **Functions** – For reusable, modular code.
4. **OOP Basics** – Understanding classes and objects (many ML tools use OOP).
5. **Libraries** – How to import and use libraries like `NumPy` and `pandas`.
6. **File I/O** – Reading/writing data files like CSV.
7. **Error Handling** – Using `try...except` to manage runtime errors.

#### Essential Libraries

- **NumPy** – For numerical operations with arrays and matrices.
- **Pandas** – For data cleaning, analysis, and working with DataFrames.

### Python Syntax
Syntax refers to the set of rules that define how Python code is written and interpreted.

In [ ]:
# print even number within <=6
numbers = [1, 2, 3,4, 5, 6]

for number in numbers:
    if number % 2 == 0:
        print(f"{number} is even")

2 is even
4 is even
6 is even

In [ ]:
### take input from user

name = input("What is your name?")
age = int(input("What is your age?"))
print(f"Hi, My name is {name}. I am {age} years old.")

What is your name?Sujan
What is your age?27
Hi, My name is Sujan. I am 27 years old.

### Python Keywords

Keywords are reserved words in Python that have special meaning and cannot be used as variable names. Examples include `if, for, class, def, return,` etc.

In [ ]:
if True:
    print("This is a keyword example.")

This is a keyword example.

### Variables
Variables are used to store data. Python is dynamically typed, so we don’t need to declare the variable type.
Naming the variable is always important.
Do you know why ?

In [ ]:
firstName = "Generative"
last_name = "AI"
year= 2021
print(firstName + " " + last_name + str(year))

Generative AI2021

In [ ]:
qty = 12
price = 12.55

print(f"Total price is {qty*price} ")
print(f"Total price is {(qty*price):.2f} ")

Total price is 150.60000000000002
Total price is 150.60

#### TASK1: Create variables to store your name, age, and list of skills.

In [ ]:
# ["name",23,['a','b','c']]
full_name = input("What is you name")
age = int(input("What is you age"))
no_of_skills = int(input("enter the no of skills yuo have"))
skill_set = []
for i in range(no_of_skills):
  input_value = input("Enter your skills:\t")
  skill_set.append(input_value)

print(f"Hi, My name is {full_name}. I am {age} years old. My skills are {skill_set}")

What is you namesujan
What is you age27
enter the no of skills yuo have2
Enter your skillspython
Enter your skillsjavascript
Hi, My name is sujan. I am 27 years old. My skills are ['python', 'javascript']

### Data Types

* **int**: Integer type for whole numbers (e.g., `10`).
* **float**: Floating-point type for decimal numbers (e.g., `3.14`).
* **str**: String type for sequences of characters (e.g., `"Hello"`).
* **bool**: Boolean type representing `True` or `False`.
* **NoneType**: Represents the absence of a value (`None`).

In [ ]:
# Integer
number = 100
print(type(number))

# Float
pi_value = 3.14159
print(type(pi_value))

# String
greeting = "Good Morning!"
print(type(greeting))

# Boolean
is_active = False
print(type(is_active))

# NoneType
value = None
print(type(value))

# Data structure with data types

# List
my_list = [1, "apple", 3.14, True]
my_list[2] = 3.142857
print(type(my_list))
my_typelist = [ type(i) for i in my_list]
print(my_typelist)

# Tuple
my_tuple = (3, "mango", 1.64, True)
print(type(my_tuple))
# my_tuple[2] = 2.4

# Set
my_set = {1,2,2,2,2,2,3,5,7,9}
print(my_set)
print(type(my_set))

# dict
my_dictionary = {"name":"Ram","age":"24"}
print(type(my_dictionary))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>
<class 'list'>
[<class 'int'>, <class 'str'>, <class 'float'>, <class 'bool'>]
<class 'tuple'>
{1, 2, 3, 5, 7, 9}
<class 'set'>
<class 'dict'>

### Operators
An operator is a symbol that performs a specific operation on one or more values or variables.

In [ ]:
# Arithmetic Operator (Addition)
sum_result = 5 + 3

# Comparison Operator (Greater Than | Less Than)
is_greater = 10 > 5

# Logical Operator (AND)
or_gate = True or False
ang_gate = True and False

# Assignment Operator (Multiplication and Assignment)
x = 5
x *= 2

# Identity Operator (is)
list1 = [1, 2]
list2 = [1, 2]
is_same_object = list1 is list2


print("Sum result:", sum_result)
print("Is 10 greater than 5? :", is_greater)
print("Both True or False:", or_gate)
print("Both True AND False:", ang_gate)
print("Value of x after *= 2:", x)
print("list1 is list2:", is_same_object)

Sum result: 8
Is 10 greater than 5? : True
Both True or False: True
Both True AND False: False
Value of x after *= 2: 10
list1 is list2: False

#### TASK2: Create a program that checks if a student has passed a test and gives feedback.

In [ ]:
your_marks = int(input("Enter your marks"))
if  your_marks > 40:
  print("You have passed the test")
else:
    print("You have failed the test")

Enter your marks45
You have passed the test

In [ ]:
marks = [23,43,54,40,39,41]

pass_or_fail = [each for each in marks if each>=40 ]
pass_or_fail

[43, 54, 40, 41]

### Data Structures (Lists, Tuples, Sets, Dictionaries)

* **list**: Ordered, mutable collection (e.g., `[1, 2, 3]`).
* **tuple**: Ordered, immutable collection (e.g., `(1, 2, 3)`).
* **dict**: Unordered collection of key-value pairs (e.g., `{"a": 1}`).
* **set**: Unordered collection of unique items (e.g., `{1, 2, 3}`).

In [ ]:
# List (mutable, ordered)
my_shopping_list = ["milk", "bread", "eggs"]
my_shopping_list.append("cheese")
print(my_shopping_list[0])

# Tuple (immutable, ordered)
coordinates = (10.0, 20.0)
# coordinates[0] = 12.0 # This would raise an error
print(coordinates[1])

# Set (mutable, unordered, unique elements)
my_set = {1, 2, 2, 3, 4, 4}
print(my_set)
my_set.add(5)
print(my_set)

# Dictionary (mutable, key-value pairs)
person = {"name": "Alice", "age": 30, "city": "New York"}
print(person["name"])
person["age"] = 31 # changing the vlaue
print(person)

milk
20.0
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
Alice
{'name': 'Alice', 'age': 31, 'city': 'New York'}

In [ ]:
for item, value in person.items():
  print(item,value)

name Alice
age 31
city New York

In [ ]:
# Nested data structure (List of dictionaries)
students = [
    {"name": "Bob", "id": [1,2,3]},
    {"name": "Charlie", "id": "s002"}
]
print(students[0]["id"])

[1, 2, 3]

### Control Flow (if, for, while)
Control flow in Python refers to the order in which individual statements, instructions, or function calls are executed or evaluated. It includes decision-making (`if`, `elif`, `else`), loops (`for`, `while`), and control statements (`break`, `continue`, `pass`) that determine how the program proceeds.

In [ ]:
# If statement
temperature = 25
if temperature > 30:
    print("It's hot!")
elif temperature > 20:
    print("It's warm.")
else:
    print("It's cool.")

# For loop (iterating over a list)
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# While loop
count = 0
while count < 5:
    print(count)
    count += 1

# For loop with range
for i in range(3):
    print(i)

# Break in a loop
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        break
    print(num)

It's warm.
apple
banana
cherry
0
1
2
3
4
0
1
2
1
2

#### TASK3 :Write a program to:
- Take input: Scores of 10 students or just create a your own list.
- Add 5 bonus points to every score below 50.
- Print each score with a label: "Pass" if 50 or above, else "Fail".
- Finally, print the updated list of scores.

In [ ]:
score = []
for i in range(3):
    score.append(int(input(f"Enter score for student {i+1}: ")))
updated_score = [each+5 if each <40 else each for each in score]

print(updated_score)

## need more update

Enter score for student 1: 34
Enter score for student 2: 33
Enter score for student 3: 33
[39, 38, 38]

## Functions
Functions are reusable blocks of code that perform specific tasks. They help organize code and reduce repetition. Functions can accept inputs (called parameters) and may return outputs, and they are a fundamental concept in almost all programming languages.
- Defining and calling functions
- Arguments and return values
- Lambda functions

### Defining and calling functions

In [ ]:
# Simple function with no arguments or return value
def greet():
  print("Hello!")

greet()

# Function with one argument
def say_hello(name):
  print(f"Hello, {name}!")

say_hello("Alice")

# Function with a default argument
def greeting(name="Guest"):
  print(f"Welcome, {name}!")

# greeting("")
greeting("Bob") # Overrides the default argument

# Function with multiple arguments
def add_numbers(x, y):
  print(f"The sum of {x} and {y} is {x + y}")

add_numbers(5, 10)

# Calling a function inside another function
def process_data(data):
  print("Processing data...")
  # processs
  print(f"Data: {data}")

def analyze_data(dataset):
  print("Analyzing data...")
  # analysis
  process_data(dataset)

analyze_data([1, 2, 3, 4, 5])

Hello!
Hello, Alice!
Welcome, Guest!
Welcome, Bob!
The sum of 5 and 10 is 15
Analyzing data...
Processing data...
Data: [1, 2, 3, 4, 5]

### Arguments and return values

In [ ]:
# Function that returns a value
def multiply(x, y):
  return x * y
  # return result

product = multiply(4, 6)
print(f"The product is: {product}")

# Function that returns multiple values (as a tuple)
def get_min_max(numbers):
  minimum = min(numbers)
  maximum = max(numbers)
  return minimum, maximum

data = [10, 5, 20, 15]
min_val, max_val = get_min_max(data)
print(f"Min value: {min_val}, Max value: {max_val}")

# Function with no explicit return (implicitly returns None)
def print_message(message):
  print(message)
  # No return statement

return_value = print_message("This function returns None")
print(f"The return value is: {return_value}")

The product is: 24
Min value: 5, Max value: 20
This function returns None
The return value is: None

In [ ]:
# Function returning a boolean
def is_even(number):
  # YOUR CODE HERE
  pass # remove this line

print(f"Is 7 even? {is_even(7)}")
print(f"Is 10 even? {is_even(10)}")

Is 7 even? None
Is 10 even? None

In [ ]:

# Using a returned value in a calculation
def calculate_area(radius):
  # YOUR CODE HERE...
  pass # remove this line

circle_area = calculate_area(5)
print(f"The area of the circle is: {circle_area:.2f}")

TypeError: unsupported format string passed to NoneType.__format__

### Lambda functions
A lambda function is a small, anonymous function defined using the lambda keyword. It can have any number of arguments but only one expression, which is returned automatically.

In [ ]:
# Simple lambda function
add = lambda x, y: x + y
print(f"Lambda addition: {add(3, 5)}")

# Lambda function used with filter()
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda n: n % 2 == 0, numbers))
print(f"Even numbers: {even_numbers}")

# Lambda function used with map()
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(f"Squared numbers: {squared_numbers}")

# Lambda function used for sorting
students = [('Alice', 30), ('Bob', 25), ('Charlie', 35)]
# Sort by age (the second element of the tuple)
sorted_students_by_age = sorted(students, key=lambda student: student[1])
print(f"Sorted students by age: {sorted_students_by_age}")

# Lambda function with multiple arguments in a function call
def apply_operation(x, y, operation):
  return operation(x, y)

result = apply_operation(10, 20, lambda a, b: a - b)
print(f"Lambda operation result: {result}")

## Object-Oriented Programming (OOP)
- Classes and Objects
- Methods and Constructors
- Inheritance

In [ ]:
class Animal:
    def __init__(self, name):
        self.name = name
    def bola_ta(self):
        return f"{self.name} be like: Ma bole hai...."

dog = Animal("Dog")
print(dog.bola_ta())

Dog be like: Ma bole hai....

### Classes and Objects
**Classes** are blueprints for creating objects, defining the structure and behavior (methods and attributes) they will have. They encapsulate data and functions into a single unit.

**Objects** are instances of classes that hold actual data and can perform actions using class-defined methods. Each object can have different values for its attributes.

In [ ]:
# Basic Class and Object Creation
class Dog:
    species = "Canis familiaris"
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f"A new dog named {self.name} is born!") # Constructor action

    # Instance method
    def bark(self):
        print(f"{self.name} says Woof!")

    # Destructor
    def __del__(self):
        print(f"{self.name} is leaving us.")

my_dog = Dog("Buddy", 3)
your_dog = Dog("Lucy", 5)


print(f"{my_dog.name} is {my_dog.age} years old.")
print(f"{your_dog.name} is {your_dog.age} years old.")

my_dog.bark()
your_dog.bark()

print(f"All dogs are of species: {Dog.species}")
print(f"My dog is of species: {my_dog.species}")

# The __del__ method will be called automatically when the object is garbage collected or when its reference count drops to zero.
del your_dog

A new dog named Buddy is born!
A new dog named Lucy is born!
Buddy is 3 years old.
Lucy is 5 years old.
Buddy says Woof!
Lucy says Woof!
All dogs are of species: Canis familiaris
My dog is of species: Canis familiaris
Lucy is leaving us.

### Methods and Constructors
**Methods** are functions defined inside a class that operate on objects of that class. They are used to define the behavior or actions an object can perform.  
**Constructors** are special methods that are automatically called when a new object is created.

In [ ]:
# __init__ method
# The `__init__` method in a class is a special constructor function that automatically runs when a new object is created. It initializes the object’s attributes with the values provided during instantiation.

In [ ]:
# Class with another method and using 'self'
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.is_engine_started = False

    def start_engine(self):
        if not self.is_engine_started:
            self.is_engine_started = True
            print(f"The {self.year} {self.make} {self.model}'s engine started.")
        else:
            print("The engine is already running.")

    def display_info(self):
        print(f"Car: {self.year} {self.make} {self.model}")

my_car = Car("Toyota", "Camry", 2020)

my_car.display_info()
my_car.start_engine()
my_car.start_engine()

### Inheritance
Inheritance is an object-oriented programming concept where a class (called a child or subclass) inherits properties and behaviors (methods and attributes) from another class (called a parent or superclass).

In [ ]:
class Animal:
    def __init__(self, name):
        self.name = name
        print(f"An animal named {self.name} is created.")

    def speak(self):
        pass

    def __del__(self):
        print(f"The animal {self.name} is no longer with us.")


class Cat(Animal):
    def __init__(self, name, breed):
        super().__init__(name)  # Call the parent class constructor
        self.breed = breed
        print(f"A cat named {self.name} of breed {self.breed} is created.")


    # Override the speak method
    def speak(self):
        print(f"{self.name} says Meow!")

    def __del__(self):
        print(f"The cat {self.name} is leaving us.")
        super().__del__()


my_cat = Cat("Whiskers", "Siamese")


my_cat.speak()
print(f"My cat's name is {my_cat.name} and breed is {my_cat.breed}.")

# The destructors will be called when the objects are deleted or go out of scope
# del my_cat

In [ ]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def get_circumference(self):
        return 2 * math.pi * self.radius

circle1 = Circle(5)
circle2 = Circle(10)

print(f"Area of circle1: {circle1.get_area():.2f}")
print(f"Circumference of circle2: {circle2.get_circumference():.2f}")

TASK4:
Complete the methods to add a book, display available books, and borrow a book from the library.

In [ ]:
class Library:
    def __init__(self):
        self.books = []

    def add_book(self, book):
        """
        Add a new book to the library.
        """
        # Your code here
        self.books.append(book)
        print(f"{book} added.")

    def display_books(self):
        """
        Display all available books in the library.
        """
        # Your code here
        print("Available books:")
        for book in self.books:
            print(book)
        return self.books
#

    def borrow_book(self, book):
        """
        Borrow a book if it's available.
        """
        # Your code here
        if book in self.books:
          self.books.remove(book)
          return "borrowed"
        if book in self.books:
          return "available"
        else:
          return "unavailable"



lib = Library()

# Add books
lib.add_book("1984")
lib.add_book("To Kill a Mockingbird")

# Display books
print(lib.display_books())

# Borrow a book
print(lib.borrow_book("1984"))

# Display again to see the update
lib.display_books()

1984 added.
To Kill a Mockingbird added.
Available books:
1984
To Kill a Mockingbird
['1984', 'To Kill a Mockingbird']
borrowed
Available books:
To Kill a Mockingbird

['To Kill a Mockingbird']

In [ ]:
print(lib.borrow_book.__doc__)

        Borrow a book if it's available.

In [ ]:
my_address = "bhaktapur"

list_of_valid_address = ['ktm','lalitpur','chitwan']

if my_address in list_of_valid_address:
  print("valid address")
else:
  print("invalid address")

invalid address

In [ ]:
my_name = "SUJAN"

my_name[0:5]

'SUJAN'

## Review of Python Packages for data ( Numpy and Pandas

### NumPy
NumPy is a Python library used for fast numerical computations, especially with arrays and matrices.
We will see..
- Arrays
- Array Operations
- Indexing and Slicing

**Why** are we using numpy

- Fast and efficient operations on large arrays and matrices

- Built-in functions for mathematical, statistical, and linear algebra tasks

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
list_data = list(range(1000000))
list_data

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [ ]:
time.time()

1755664162.5362895

In [ ]:
import numpy as np
import time

# Using list
list_data = list(range(1_000_000))
start = time.time()
list_squared = [x**2 for x in list_data]
print(type(list_data))
print("Python list time:", time.time() - start)

# Using NumPy
array_data = np.arange(1_000_000)
start = time.time()
array_squared = array_data ** 2
print(type(array_data))
print("NumPy array time:", time.time() - start)

<class 'list'>
Python list time: 0.10621404647827148
<class 'numpy.ndarray'>
NumPy array time: 0.002207517623901367

In [ ]:
# Vector operation
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
print("Sum:", a + b)
print("Element-wise product:", a * b)

Sum: [5 7 9]
Element-wise product: [ 4 10 18]

In [ ]:
# Matrix
matrix = np.array([[1, 2, 3], [4, 5, 6]])
scalar = 10
print("Add scalar to matrix:\n", matrix + scalar)

Add scalar to matrix:
 [[11 12 13]
 [14 15 16]]

In [ ]:
# Boolean
arr = np.array([10, 20, 30, 40, 50])
print("Elements > 25:", arr[arr > 25])

Elements > 25: [30 40 50]

In [ ]:
# Statical operation
data = np.array([1, 2, 3, 4, 5])
print("Mean:", np.mean(data))
print("Standard Deviation:", np.std(data))
print("Sum:", np.sum(data))
# normalization
normalized_data = [(each-(np.mean(data)))/np.std(data) for each in data]
print(normalized_data)

Mean: 3.0
Standard Deviation: 1.4142135623730951
Sum: 15
[np.float64(-1.414213562373095), np.float64(-0.7071067811865475), np.float64(0.0), np.float64(0.7071067811865475), np.float64(1.414213562373095)]

In [ ]:
# multi-dimensional array
a = np.array([[1, 2], [3, 4], [5, 6]])
print("Shape:", a.shape)
print("Access element [1, 1]:", a[1, 1])

Shape: (3, 2)
Access element [1, 1]: 4

In [ ]:
# linear algebra
A = np.array([[1, 2], [3, 4]])
B = np.array([[2, 0], [1, 2]])
print("Matrix multiplication:\n", A @ B)
print("Inverse of A:\n", np.linalg.inv(A))

Matrix multiplication:
 [[ 4  4]
 [10  8]]
Inverse of A:
 [[-2.   1. ]
 [ 1.5 -0.5]]

In [ ]:
# handle missing values
data = np.array([1, 2, np.nan, 4])
print("Mean (ignoring NaNs):", np.nanmean(data))

TASK5:
Create a NumPy array of 100 random integers between 1 and 1000.
- Find the mean, median, and standard deviation of the array.
- Replace all values below the mean with the mean value itself.
- Print the updated array.

In [ ]:
import numpy as np


# Replace all values below the mean with the mean value itself.
# Print the updated array.

# # arr = np.arange(1000)
# Find the mean, median, and standard deviation of the array.
arr = np.random.randint(1, 1000,100)
# Find the mean, median, and standard deviation of the array.
print("Mean:", np.mean(arr))
print("Median:", np.median(arr))
print("Standard Deviation:", np.std(arr))

# Replace all values below the mean with the mean value itself.
arr[arr < np.mean(arr)] = np.mean(arr)

print(len(arr))
print(arr)

Mean: 508.45
Median: 504.5
Standard Deviation: 285.4380974922584
100
[508 517 744 688 508 911 508 815 675 766 724 756 711 510 508 988 508 508
 621 804 508 508 796 508 508 520 508 508 604 624 698 508 508 605 508 842
 559 789 508 882 911 508 508 738 753 508 795 717 766 508 899 514 508 508
 508 508 900 571 508 508 774 508 653 920 508 827 866 971 743 508 700 508
 508 848 696 508 997 508 508 729 508 845 508 832 508 508 508 508 508 973
 508 508 508 508 508 508 508 508 508 822]

## Pandas
Pandas is a Python library for data manipulation and analysis, providing easy-to-use data structures like DataFrames.  
We will see..
- Series and DataFrames
- Reading and Writing Data
- Data Selection and Filtering

#### **We** use it because:
- It simplifies handling and cleaning of structured data (like CSVs, tables).
- It offers powerful tools for data analysis and transformation with intuitive syntax.

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
# Importing pandas
import pandas as pd

# Supress warnings
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# 1d Series
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# Dataframe 2d like table
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Ram', None, 'Eva'],
    'Age': [25, 30, None, 34, 22, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Kathmandu', 'Chicago', 'Houston'],
    'Occupation': ['Engineer', 'Artist', 'Doctor', 'Teacher', 'Developer', 'Designer'],
    'Marital Status': ['Single', 'Married', 'Single', 'Married', 'Single', 'Single']
}

df = pd.DataFrame(data)
df

      Name   Age           City Occupation Marital Status
0    Alice  25.0       New York   Engineer         Single
1      Bob  30.0  San Francisco     Artist        Married
2  Charlie   NaN    Los Angeles     Doctor         Single
3      Ram  34.0      Kathmandu    Teacher        Married
4     None  22.0        Chicago  Developer         Single
5      Eva  28.0        Houston   Designer         Single

In [ ]:
data['Name']

['Alice', 'Bob', 'Charlie', 'Ram', None, 'Eva']

### Reading and Writing Data
#### Reading form different file format
```python
df = pd.read_csv('data.csv')
df = pd.read_json('data.json')
df = pd.read_csv('data.txt', delimiter='\t')
```
#### Writing data to different file format
```python
df.to_csv('output.csv', index=False)
df.to_json('output.json', orient='records', lines=True) #in place of records we can also use (split, index, columns, values)
df.to_csv('output.txt', sep='\t', index=False)
```

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
### Load any of your data here...

### Data Inspection

In [ ]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [ ]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

#### Getting basic information about the DataFrame

In [ ]:
df['longitude'].mean()

np.float64(-119.58919999999999)

In [ ]:
# df.info()
# df.columns
# df.dtypes
# df.describe()
# df.T
# sorted_column_df = df.sort_index(axis=1, ascending=True)
sorted_rows_df = df.sort_values(by=['households','total_rooms'], ascending=True)
sorted_rows_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1115,-116.95,33.86,1.0,6.0,2.0,8.0,2.0,1.6250,55000.0
740,-117.12,32.66,52.0,16.0,4.0,8.0,3.0,1.1250,60000.0
2640,-114.62,33.62,26.0,18.0,3.0,5.0,3.0,0.5360,275000.0
2494,-118.44,34.04,49.0,32.0,7.0,14.0,7.0,2.1875,225000.0
666,-121.89,37.42,26.0,40.0,8.0,52.0,7.0,7.7197,225000.0
...,...,...,...,...,...,...,...,...,...
321,-121.73,37.68,17.0,20354.0,3493.0,8768.0,3293.0,5.4496,238900.0
1146,-117.27,33.15,4.0,23915.0,4135.0,10877.0,3958.0,4.6357,244900.0
2014,-117.22,32.86,4.0,16289.0,4585.0,7604.0,4176.0,3.6287,280800.0
978,-121.53,38.48,5.0,27870.0,5027.0,11935.0,4855.0,4.8811,212200.0
1563,-118.44,33.98,21.0,18132.0,5419.0,7431.0,4930.0,5.3359,500001.0

In [ ]:
ages = df['Age']
print(ages)
subset = df[['Name', 'City']]
print(subset)

0    25.0
1    30.0
2     NaN
3    34.0
4    22.0
5    28.0
Name: Age, dtype: float64
      Name           City
0    Alice       New York
1      Bob  San Francisco
2  Charlie    Los Angeles
3      Ram      Kathmandu
4     None        Chicago
5      Eva        Houston

In [ ]:
import numpy as np
arr = np.array([1,2,3,4])
print(arr[arr>2])

[3 4]

In [ ]:
df2 = df[0:3]
print(df2)
print("_"*70)
selected_row = df[df['City'] == 'New York']
print(selected_row)

      Name   Age           City Occupation Marital Status
0    Alice  25.0       New York   Engineer         Single
1      Bob  30.0  San Francisco     Artist        Married
2  Charlie   NaN    Los Angeles     Doctor         Single
______________________________________________________________________
    Name   Age      City Occupation Marital Status
0  Alice  25.0  New York   Engineer         Single

In [ ]:
df.loc[:, ["Name", "Age"]]

      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie   NaN
3      Ram  34.0
4     None  22.0
5      Eva  28.0

In [ ]:
# concatination is method for combining dataframes:

df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})


concatenated_df2 = pd.concat([df1,df2])

print(concatenated_df2)

  key  value1  value2
0   A     1.0     NaN
1   B     2.0     NaN
2   C     3.0     NaN
0   A     NaN     4.0
1   B     NaN     5.0
2   D     NaN     6.0

In [ ]:
# Joining DataFrames:
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})

# default of merge is inner
concatenated_df = pd.merge(df1, df2)
print(concatenated_df)

concatenated_df = pd.merge(df1, df2, on='key')

  key  value1  value2
0   A       1       4
1   B       2       5

In [ ]:
# Sample DataFrame with NaN values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, np.nan, 35, 40, np.nan],
    'Score': [85, 90, np.nan, 88, 92]
}

df3 = pd.DataFrame(data)
df3

      Name   Age  Score
0    Alice  25.0   85.0
1      Bob   NaN   90.0
2  Charlie  35.0    NaN
3    David  40.0   88.0
4      Eva   NaN   92.0

In [ ]:
# Fill NaN values with the mean of their respective columns using lambda
df3[['Age', 'Score']] = df3[['Age', 'Score']].apply(lambda col: col.fillna(col.mean()))
df3

      Name        Age  Score
0    Alice  25.000000  85.00
1      Bob  33.333333  90.00
2  Charlie  35.000000  88.75
3    David  40.000000  88.00
4      Eva  33.333333  92.00

In [ ]:
# Grouping by 'City' and applying multiple aggregations
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Helen'],
    'Age': [25, 30, 35, 40, 22, 28, 33, 38],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Chicago', 'Los Angeles', 'New York', 'Chicago'],
    'Marital Status': ['Single', 'Married', 'Single', 'Married', 'Single', 'Single', 'Married', 'Single']
}

df4 = pd.DataFrame(data)
df4

      Name  Age         City Marital Status
0    Alice   25     New York         Single
1      Bob   30  Los Angeles        Married
2  Charlie   35     New York         Single
3    David   40      Chicago        Married
4      Eva   22      Chicago         Single
5    Frank   28  Los Angeles         Single
6    Grace   33     New York        Married
7    Helen   38      Chicago         Single

In [ ]:
aggregated = df4.groupby('City').agg({
    'Age': ['mean', 'max'],
    'Name': 'count',
    'Marital Status': [('Married', lambda x: (x == 'Married').sum()), ('Single', lambda x: (x == 'Single').sum())]
}).reset_index()

# Flatten the multi-level columns
# aggregated.columns = ['_'.join(col).strip() for col in aggregated.columns.values]

aggregated

          City        Age      Name Marital Status
                     mean max count        Married Single
0      Chicago  33.333333  40     3              1      2
1  Los Angeles  29.000000  30     2              1      1
2     New York  31.000000  35     3              1      2

In [ ]:
grouped = df4.groupby('Marital Status').agg({'Age':'mean'})
grouped

TASK6
- Fill missing values in the "Grade" column with "Pending".
- Filter and display students who scored more than 75.
- Group the data by "Subject" and calculate the average score.

In [ ]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Subject": ["Math", "Science", "English", "Math", "Science", "English"],
    "Score": [88, 67, 92, 74, 59, 81],
    "Grade": ["A", np.nan, "A+", "B", np.nan, "A"]
}

df = pd.DataFrame(data)
# Fill missing values in the "Grade" column with "Pending".
df['Grade'].fillna("Pending", inplace=True)


df

In [ ]:
# Filter and display students who scored more than 75.
df[df['Score'] > 75]

In [ ]:
# Group the data by "Subject" and calculate the average score.
df.groupby('Subject').agg({'Score':'mean'})

In [ ]:
print(d)

NameError: name 'd' is not defined